
html, body {
  background-color: #3F3F3F;
  height: 100%;
}
input {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  width: 98%;
  margin-bottom: 0 !important;
}
textarea:focus, 
input[type="text"]:focus {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(255, 0, 0, 0.6);
  outline: 0 none;
}
select:focus {
   outline-color: transparent;
}
ul {
  margin: 0;
}
li {
  list-style: none;
}

.header {
  height: 40px;
}
.central-content {
  position: relative;
  height: calc(100% - 40px - 50px);
}
.footer {
  position: absolute;
  height: 50px;
  width: 100%;
}

.fragment {
  overflow-y: scroll;
  overflow-x: scroll;
}
.loglines-fragment {
  height: 100%;
  width: 80%;
  white-space: nowrap;
  background-color: #1B1B1B;

/*  position: absolute;
  width: 100%;
  max-height: calc(100% - 90px);
  max-width: 2000px;*/
}
.dissector-fragment {
  height: 100%;
  width: 20%;
  background-color: #1F1F1F;
}

.loglines-fragment .loglines {
  width: 100%;
}

.loglines-fragment ul.loglines-list {
  display: table-row; /* this is needed to set inner width to 100% of scrollable width */
  max-width: 2000px;
}
.loglines-fragment ul li {
  height: 18px;
  line-height: 18px;
  font-size: 13px;
}

.loglines-fragment span:hover,
.loglines-fragment li:hover {
  background-color: #4F4F4F;
}
.loglines-fragment li {
}
.loglines-fragment li.customTag {
  background-color: #4F4F8e;
}
.loglines-fragment li.isCurrentSearch {
  background-color: #4F8e8e;
}

.loglines-fragment li {
  background-color: #1B1B1B;
  color: #a3a3a3;
}
.loglines-fragment li.level-E {
  color: #ff5f5f;
}
.loglines-fragment li.level-W {
  color: #afd700;
}
.loglines-fragment li.level-D {
  color: #5fafd7;
}
.loglines-fragment li.level-I {
  color: #00af00;
}

.loglines-fragment .logline span {
  display: inline-block;
  overflow-x: hidden;
  margin: 0 2px;
}
.loglines-fragment .logline span.index {
  width: 50px;
}
.loglines-fragment .logline span.date {
  width: 40px;
}
.loglines-fragment .logline span.time {
  width: 90px;
}
.loglines-fragment .logline span.buffer {
  width: 20px;
}
.loglines-fragment .logline span.tag {
  width: 200px;
}
.loglines-fragment .logline span.message {
  /*max-width: 1500px;*/
}

.dissector-fragment li.event {
  margin: 10px;
  background: #a0a0a0;
}
.dissector-fragment li.event .title {
  background: #afafaf;
}

.footer .cmdline {
  margin-top: 10px;
}
.footer .highlight-cmd {
  height: 30px;
  width: 11px;
  position: absolute;
  left: 121px;
  background-color: rgba(160, 160, 160, 0.52);
}
.footer .action-dropup {
  width: 120px;
  float: left;
}
.footer .action-dropup button.btn-cmd-left {
  float: right;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0;
  padding-left: 5px;
  width: calc(100% - 10px);
}
.footer .action-dropup button.btn-cmd-left span.name {
  padding-right: 8px;
  padding-left: 4px;
}
.footer .action-dropup button.btn-cmd-preset {
  float: left;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 0;
  padding-right: 5px;
  width: calc(100% - 10px);
}
.footer .dropup-preset {
  margin-left: -6px;
}


.footer .input {
  width: calc(100% - 120px - 240px);
  float: left;
}
/*.footer .input textarea*/

.footer .input input[type="text"] {
  border-radius: 0;
  padding-left: 3px;
}

.footer .dropup-preset .btn-tagged {
  float: left;
}



.footer .dropup-tagged > .dropdown-menu,
.footer .dropup-preset > .dropdown-menu {
  right: 0;
  left: auto;
}

/* taken from http://bootsnipp.com/snippets/featured/multi-level-dropdown-menu-bs3 and modified */
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    left: auto;
    right: 100%;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-left: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-right {
    float: none;
}
.dropdown-submenu.pull-right>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
